body{
min-height: 100vh;
font-family:Arial, Helvetica, sans-serif ;
line-height: 1.6;
color: #525151;
background:linear-gradient( to bottom, #898988 0%,#383838 50% ,#0f0f0f 100%  );
}
header{
background-color: rgba(20, 20, 19, 0.866);
position: fixed;
padding:1rem 0;
top: 0;
z-index:1000% ;
width:100% ;
animation:slidedown 1s ease-out ;
}
@keyframes slidedown{
from{
transform:translateY(-100%)
}
to{
transform:translateY(0)
}
}
nav{
display: flex;
justify-content: space-between;
align-items: center;
padding:0 2rem;
margin:0 auto;
}
.logo{
font-size:2rem ;
font-weight: bold;
color:white;
text-decoration: none;
}
.nav-links{
display:flex;
list-style:none;
color: white;
gap:2rem;
}
.nav-links a{
color: white;
text-decoration: none;
}
.nav-links a:hover{
color: white;
display: inline-block;
animation: pulse 1s ease-in-out infinite;
}
@keyframes pulse{
0%{
transform: scale(1);
}
50%{
transform: scale(1.05);
}
100%{
transform: scale(1.1);
}
}
.hero{
background: url(../image2.jpg ) center/cover no-repeat;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: rgb(12, 12, 12);
height: 100vh;
animation: fadein 1s ease-in;
}
.hero h1{
font-size: 100px;
}
@keyframes fadein{
from{
    transform: translateY(-100%);
opacity: 0;
}
to{
    transform:transLateY(0)  ;
opacity: 1;
}
}
.products{
padding:5rem 2rem  ;
max-width:1200 ;
margin: auto;
}
.section-title{
text-align: center;
font-size: 3rem;
color:black ;
margin-bottom:3rem ;
animation:fadeeup 1s ease-out ;
}
@keyframes fadeeup{
from{
transform: transLateY(30PX);
opacity: 0;
}
to{
transform: translateY(0);
opacity:1;
}
}
.product-grid{
display:grid ;
grid-template-columns:
 repeat(auto-fit,minmax(250px,1fr));
 gap: 2rem;
}
.product-card{
background-color:rgb(202, 196, 196);
border-radius: 10px;
box-shadow: 0 4px 15px rgp(0,0,0,0.2);
transition: transrform 0.3s ease, box-shadow 0.3s ease;
animation: cardfadein 0.8s ease-out forwards;
opacity: 0;
overflow: hidden;
}
@keyframes cardfadein{
    
  from  {transform: translateY(20px);
opacity: 0;
}
to {transform: translateY(0);
opacity: 1;
}
}
.product-card:nth-child(1)
{
animation-delay:0.1s ;
}
.product-card:nth-child(2)
{
animation-delay:0.2s ;
}
.product-card:nth-child(3)
{
animation-delay:0.3s ;
}
.product-card:nth-child(4)
{
animation-delay:0.4s ;
}
.product-card:hover{
transform: translateY(-10px);
box-shadow: 0;
}
.product-image{
width: 100%;
height:200px ;
background-size:cover ;
background-position: center;
transition: transform 0.3s ease-in-out;
}
.product-card:hover .product-image{
  animation: zoomIn 1s ease-in  ;
}


@keyframes zoomIn{
from{
    transform: scale(1);
}
to{
  transform: scale(1.05);
}
}
.product-info{
padding: 0%;
}
.product-info h3{
font: size 1.5em ;
color: black;
margin-bottom: 0.5rem;
}
.product-info p{
color:black;
margin-bottom: 1rem;
}
.price{
font: size 1.2rem; ;
font-weight: bold;
color: black;
}
.btn{
background-color:rgb(110, 108, 108);
color:black;
border: none;
padding: 0.8rem 1.5rem;
border-radius: 5px;
cursor: pointer;
transition: backgrounnd 0.3s ease;
display: block;
width: 100%;
margin-top: 1rem;
}
.btn:hover{
background:whitesmoke;
animation: bounce 0.5s ease-in-out infinite ;
}
@keyframes bounce{
0%,20%,50%,80%,100%{
transform: translateY(0);
}
40%{
transform: translateY(-5px);
}
60%{
transform: translateY(-3px);
}
}

.About{
padding:5rem 2rem;
max-width: 1200px;
margin: 0 auto;
background-color: rgba(185, 176, 165, 0.5);
border-radius: 10px;
margin: 2rem auto;
animation: fadeInUp 1s ease-in-out;
}
.About h2{
text-align: center;
font-size: 3rem;
color: #161616;
margin-bottom: 2rem;
}
.about-grid{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 3rem;
align-items: center;
}
.about-text{
font-size:1.5rem ;
display: flex;
flex-direction: column;
gap: 1rem;
}
.about-text h3{
color: #363534;
margin-bottom: 0.5rem;
font-size: 1.5rem;
}

.about-text p{
transition: color 0.3s ease;
  color:#2d2b2b;
}
.about-text p:hover{
animation: pulse 0.5s ease-in-out;
color: #1c1c1cdb;
}
.about-image{
width: 100%;
height: 300px;
background-image: url(images/download\ \(2\).webp);
border-radius: 10px;
transition: transform 0.3s ease;
border-radius:10px ;
}
.about-image:hover{
transform: scale(1.05);
animation: ZoomIN 0.6s ease-in-out;
}
.contact{
padding:5rem 2rem;
max-width: 1200px;
/* margin: 0 auto; */
background-color: rgba(185, 176, 165, 0.5);
border-radius: 10px;
margin: 2rem auto;
animation: fadeInUp 1s ease-in-out;
}
.contact h2{
text-align: center;
font-size: 3rem;
color: #161616;
margin-bottom: 2rem;

}
.contact-grid{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 3rem;
align-items: center;
}
.contact-info{
font-size:1.5rem ;
display: flex;
flex-direction: column;
gap: 1rem;

}.contact-info h3{
color: #3d3c3b;
margin-bottom: 0.5rem;
font-size: 1.5rem;

}.contact-text p{
transition: color 0.3s ease;
  color:#66605f;
}
.contact-text p:hover{
animation: pulse 0.5s ease-in-out;
color: #595857;
}
.contact-from{
display: flex;
flex-direction:column;
gap: 1rem;
background-color: #3b3b3a;
}

.contact-from input , .contact-from textarea{
padding: 1rem;
border: 1px solid #4e4e4a;
border-radius: 5px;
background-color: rgba(178, 178, 176, 0.8);
width: 94%;
}
.contact-from textarea{
resize: vertical;
min-height: 120px;

}
.contact-from button{
background-color: #20201f;
color: #f5f5dc;
border: none;
padding: 1rem;
border-radius: 5px;
cursor: pointer;
font-size: 1rem;
width: 100%;
}
footer{
background-color: #afafa0;
color: #3e3e3d;
text-align: center;
padding: 2rem;
margin-top: 2rem;
}
.contact-from:hover{
  animation: pulse 1s ease-in-out infinite;
  background-color:rgb(218, 216, 216) ;
}
@keyframes pulse{
0%{
transform: scale(1);
}
50%{
transform: scale(0.9);
}
100%{
transform: scale(0.9);
}
}